main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.custom-carousel {
  background-image: url('/public/images/back.jpg'); /* Path to your background image */
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  min-height: 400px; /* You can adjust the height as needed */
}
.carousel-control-prev-icon {
  background-color: lightgrey; /* Set the background color for the left icon */
}
.carousel-control-next-icon {
  background-color: lightgrey; /* Set the background color for the left icon */
}

@media (min-width: 992px) {
  .search-input {
    width: 800px; /* Set the custom width for large screens */
  }
}